extends layout
extends index

block content
 p pepepepep
    p
    form.logininfo(method="GET",action="/Welcome")
     
      input(type="text",placeholder="username" )
      
      input(type="password",placeholder="password" )
     
      input(type="submit",value="Login",class="btn")
      

    


