extends layout



block content
  h1 REPORTS
  script.
    function updatePath(){
      var action_src = "http://localhost:3000/reports/" + document.getElementsByName("sign")[0].value;
      var your_form = document.getElementById('search-signs');
      your_form.action = action_src ;
    }

  form(id="search-signs", method="GET", onsubmit="updatePath()")
        div.input
            span.label Search Signs
            input(type="text", name="sign")
        div.actions
            input(type="submit", value="search")
  










    
    
    
    
    
